     <div class="dtcarrito">
                <img class="imgProducto" src="${img}" alt="imgdelproducto">
                <div class="detallesDelCarrito">
                    <h1 class="nombreDelProducto">${titulo}</h1>

                    <div class="restarYSumar"><input class="restar" type="button" value="-">
                        <input class="contador" type="text" value="1" disabled><input class="sumar" type="button"
                            value="+">
                    </div>
                    <div class="precioProducto">
                        <span>${precio2}</span>
                    </div>

                    <button onclick="eliminar(${id})" class="btnEliminar"><i class='bx bxs-trash'></i> </button>
                     
                        
                    
                </div>
            </div>


       <div class="restarYSumar">
                    <input class="restar" type="button" value="-">
                    <input class="contador" type="text" value="0" disabled><input class="sumar" type="button" value="+">
                </div>


                   .restarYSumar {
                    display: flex;
                    flex-direction: row;
                    margin: 0;

                    .restar,
                    .sumar {
                        text-align: center;
                        font-size: 1.5rem;


                        &:hover {
                            background: c.$main-color;
                            text-decoration-color: #fff;

                        }

                    }

                    input {
                        width: 30px;
                        text-align: center;
                    }
                }

             <a href="https://www.flaticon.es/iconos-gratis/instagram" title="instagram iconos">Instagram iconos
                    creados por Freepik
                    - Flaticon</a>


                    <a href="https://www.flaticon.es/iconos-gratis/facebook" title="facebook iconos">Facebook iconos creados por Freepik - Flaticon</a>

                    <a href="https://www.flaticon.es/iconos-gratis/tik-tok" title="tik tok iconos">Tik tok iconos creados por Freepik - Flaticon</a>


                    //variable para mantener el carrito visible
var carritoVisible = false;

document.addEventListener('DOMContentLoaded', () => {
    carrito = JSON.parse(localStorage.getItem('carrito')) || [];

    modalCarrito();
    pagCarrito();


});
//esperamos a que todos los elementos de la pagina se cargen para continuar con el script


const carritoId = [
    {
        id: 0
    }
];

//array para targeta de presentacion
const productosStokc = [
    {
        id: 1,

        titulo: 'Tablet Lenovo YOGA TAB 13 13" 2K',

        precio1: "S / 600",

        precio2: "S / 300",

        img: "img/TC-TB-0001-2.jpeg",

        cantidad: "0",

        des: "La tablet Lenovo Tab M10 HD de 2da generación cuenta con una cubierta de metal completa, fina y de lujo para el cuerpo, y su relación de pantalla es del 85%.Es una tablet elegante, pero duradera que todo el mundo querrá usar.",

        video: '0'
    },

    {
        id: 2,

        titulo: 'Tablet Lenovo',

        precio1: "S / 600",

        precio2: "S / 300",

        img: "img/TC-TB-0002.jpeg",

        cantidad: '<input class="restar" type="button" value="-"><input class= "contador" type="text" value="0" disabled><input class="sumar" type="button" value="+">',

        des: "La tablet Lenovo Tab M10 HD de 2da generación cuenta con una cubierta de metal completa, fina y de lujo para el cuerpo, y su relación de pantalla es del 85%.Es una tablet elegante, pero duradera que todo el mundo querrá usar.",

        video: '0'
    },

    {
        id: 3,

        titulo: 'Tablet',

        precio1: "S / 500",

        precio2: "S / 100",

        img: "img/TC-TB-0003.jpg",

        cantidad: '<input class="restar" type="button" value="-"><input class= "contador" type="text" value="0" disabled><input class="sumar" type="button" value="+">',

        des: "La tablet Lenovo Tab M10 HD de 2da generación cuenta con una cubierta de metal completa, fina y de lujo para el cuerpo, y su relación de pantalla es del 85%.Es una tablet elegante, pero duradera que todo el mundo querrá usar.",

        video: '0'
    },


];

var VFProducto = [];
var carrito = [];
var mostrarTargetCarrito = [];


const iconodecarrito = document.querySelector('.carritoIcon');

carritoId.forEach((prond) => {
    iconodecarrito.innerHTML = '';
    const { id } = prond;
    iconodecarrito.innerHTML = `
       
        <a onclick="mostrarCarrito(${id})"><span> Mi carrito</span><i id="contenNurCar" class='bx bxs-rocket'>0</i></a>

    `
});

function mostrarCarrito(id) {
    const car = carritoId.find((prond) => prond.id === id);
    mostrarTargetCarrito.push(car);
    modalCarrito();
}

const modalCarrito = () => {
    const seccionCarrito = document.querySelector('.ventanaGlobalCarrito');
    seccionCarrito.innerHTML = '';
    mostrarTargetCarrito.forEach((prond) => {
        const { } = prond;
        seccionCarrito.innerHTML = `
        <div class="productoAgregadoAlCarrito">
            
          

            <div class="carritoTotal">
                <div class="fila">
                    <strong>Tu total</strong>
                    <span class="precioTotal">
                        S/
                    </span>
                </div>
                <div class="botones">
                    <button class="btnPagar" id="seguir"> Seguir comprando <i class='bx bxs-shopping-bag'></i></button>
                    <button class="btnPagar" id="pagar"> Comprar ahora <i class='bx bxs-shopping-bag'></i></button>
                    <button class="btnPagar" id="cerrar"> Cerrar <i class='bx bxs-shopping-bag'></i></button>

                </div>

            </div>
        </div>
        `
    });



};

const contenedorTargetaPresentacion = document.querySelector('#seccionTablets');


productosStokc.forEach((prond) => {
    const { id, titulo, img } = prond;
    contenedorTargetaPresentacion.innerHTML += `
       
        <div class="contenedorTarget">
            <a onclick="agregarTargeta(${id})">
                <img class="imgTarget" src="${img}" alt="">
                    <h1 class="tituloTarget">${titulo}</h1>
            </a>

        </div >
        `
});


//funcion para mostrar el producto en la targeta.

function agregarTargeta(id) {
    const item = productosStokc.find((prond) => prond.id === id);
    VFProducto.push(item);
    ventanaFinalDelProducto();

};

const ventanaFinalDelProducto = () => {
    const targetFinalPoducto = document.querySelector('#contanedorProducto1');
    VFProducto.forEach((prond) => {
        const { id, titulo, precio1, precio2, img, cantidad, des, video } = prond;
        targetFinalPoducto.innerHTML = `
    <div id="contanedorProducto">
        <div>
            <a href="index.html">regresar</a>
        </div>
        <div class="imgDelProducto">
            <img class="imgProducto" src="${img}" alt="imgProducto">
        </div>
        <div class="detallesDeProducto">
            <h1 class="nombreDelProducto">${titulo}</h1>

            <P class="precio"> <span class="precio1">${precio1}</span> <span class="precio2">${precio2}</span></P>

            <p class="texto">${des}</p>

            <div>
            ${video}
            </div>
        
            <P class="agrega"> ¡Agrega <span>S/300</span> y gana envio gratis!</P>

            <input class="disponibles" type="text" placeholder="6 disponibles" disabled>

            
            <a href="https://api.whatsapp.com/send?phone=989892167" target="_blank" class="botonWapp"><i
                    class='bx bxl-whatsapp'></i> <span>¡Hola! ¿Necesitas ayuda?</span>
            </a>

            <div class="botones">
                <div class="restarYSumar">
                    <input class="restar" type="button" value="-">
                    <input class="contador" type="text" value="0" disabled><input class="sumar" type="button" value="+">
                </div>

                <button onclick="agregarCarrito(${id})" class="botonAgregarCarrito">Añadir al carrito</button>

                <button class="comprar">Comprar ahora</button>

            </div>

            <p class="textEnd">El artículo estará listo para enviar en 24 horas</p>
        </div>
    </div>
    `
    });

};



function agregarCarrito(id) {

    /*
    const existe = carrito.some(prond => prond.id === id);
    if (existe) {
        const prod = carrito.map(prond => {
            if (prond.id === id) {
                prod.cantidad[0];
            };
        });
    } else {
       
    };
*/
    const item = productosStokc.find((prond) => prond.id === id);
    carrito.push(item);
    pagCarrito();



};

const pagCarrito = () => {

    /*
        if (carrito.length === 0) {
    
            sectionCarrito.innerHTML = `
                <p class="tex-center tex-primary parrafo">¡Aún no has agregado nada!</p>
                `
        } else {
        };
    */
    const sectionCarrito = document.querySelector('.agregadoAlCarrito');

    sectionCarrito.innerHTML = '';
    carrito.forEach((prond) => {
        const { id, titulo, precio2, img } = prond;
        sectionCarrito.innerHTML += `
        
            <div class="dtcarrito">
                <img class="imgProducto" src="${img}" alt="imgdelproducto">
                <div class="detallesDelCarrito">
                    <h1 class="nombreDelProducto">${titulo}</h1>

                    <div class="restarYSumar"><input class="restar" type="button" value="-">
                        <input class="contador" type="text" value="0" disabled><input class="sumar" type="button"
                            value="+">
                    </div>
                    <div class="precioProducto">
                        <span>${precio2}</span>
                    </div>

                    <button onclick="eliminar(${id})" class="btnEliminar"><i class='bx bxs-trash'></i> </button>
                     
                        
                    
                </div>
            </div>

        `
    });

    guardarStorage();
};

function eliminar(id) {
    const producd = id;
    carrito = carrito.filter((produc) => produc.id !== producd);

    pagCarrito();

};

function guardarStorage() {
    localStorage.setItem("carrito", JSON.stringify(carrito));
};















// botones y funciones de restar y sumar cantidad de productos
var botonDeSumar = document.getElementsByClassName('sumar');

for (var i = 0; i < botonDeSumar.length; i++) {
    var boton = botonDeSumar[i];
    boton.addEventListener('click', sumarCantidad)


}

var botonDeRestar = document.getElementsByClassName('restar');

for (var i = 0; i < botonDeRestar.length; i++) {
    var boton = botonDeRestar[i];
    boton.addEventListener('click', restarCantidad)


}



function sumarCantidad(event) {
    var botonClick = event.target;
    var selector = botonClick.parentElement;
    var cantidadActual = selector.getElementsByClassName('contador')[0].value;
    cantidadActual++;
    selector.getElementsByClassName('contador')[0].value = cantidadActual;
    pagCarrito()

}

function restarCantidad(event) {
    var botonClick = event.target;
    var selector = botonClick.parentElement;
    var cantidadActual = selector.getElementsByClassName('contador')[0].value;
    cantidadActual--;

    if (cantidadActual >= 1) {
        selector.getElementsByClassName('contador')[0].value = cantidadActual;

        pagCarrito()
    }

}