@use'__commos' as c;

.footer {
    width: 100%;
    height: 40rem;
    background-color: #000;
    color: #fff;
    text-align: center;

    form {

        .tyc {
            font-size: 1.3rem;
            color: #e80606;
            text-decoration: underline red;
        }

    }

    .boton {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 28px;
        border: 1px solid black;
        display: block;
        position: relative;
        width: 30%;
        cursor: pointer;
        font-family: 'Barlow', sans-serif;
        text-align: center;
        font-size: 17px;
        text-decoration: none;

        &:hover {
            background-color: red;
            color: #f6f0f0;
            transform: scale(1) translate(-15%, -20%);

        }


    }

    .acercaDeEmbalados a {
        color: #e80606;
        text-decoration: underline red;

    }

    p {
        margin-top: 10px;
    }
}