@use'__commos' as c;

@media (max-width: 860px) {

    .search-box input {
        padding: 15px;
    }

    .nav {
        padding: 10px 0;
    }

    #menuIcon {
        display: initial;
    }

    .navar {
        position: absolute;
        top: 20%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #ffff;
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s;

        a {
            display: block;
            padding: 15px;

            &:hover {
                border-bottom: none;
                background: #ffff;
                color: c.$text-color ;
            }
        }

        .active {
            border-bottom: none;
            background: #ffff;
            color: c.$text-color ;

        }
    }

    .navar.active {
        clip-path: circle(144% at 0% 0%);
    }



}