@use'__commos' as c;




@media only screen and (min-width: 280px) {


    #barraDeNavegacion {
        grid-area: barraDeNavegacion;



        .containr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 15vh;


            #menuIcon {
                margin-left: 0.2rem;


            }

            .logoembalado {

                width: 70%;
                margin-bottom: 10px;


                .logo {
                    width: 150px;
                }
            }

            .boton {
                width: 90%;
                display: flex;
                flex-direction: row;
                margin-top: 0.1rem;

                input {
                    width: 100%;
                }

                .iconobuscar {
                    display: flex;
                    justify-content: center;
                    font-size: 1.5rem;
                    border: solid 1px c.$main-color;
                    padding: 0 7px;

                }
            }

            .corazon {
                width: 10%;
                font-size: 1.5rem;
                text-align: center;
                margin-top: 1rem;
                margin-left: 3rem;
            }

            .carritoIcon {
                width: 40%;
                margin-top: 1rem;
                margin-right: 2rem;

                a {

                    text-decoration: none;
                    font-size: 0.9rem;

                    i {
                        font-size: 1.2rem;
                        margin: 0.4rem;

                    }
                }
            }


        }


        .menuCategorias {


            span {
                font-size: 0.8rem;
                margin: 0 2px;


            }



            li {

                ul {
                    width: 80%;
                    top: 11rem;
                    margin-left: -7rem;

                    li {

                        a {
                            font-size: 0.73rem;
                            padding: 0.2rem;
                            margin: 2px;
                        }
                    }
                }
            }
        }

        .accesoORegistro {
            margin-right: 1.4rem;

            a {
                font-size: 0.85rem;


            }
        }

        .navar {
            width: auto;
            margin: 0;
        }


    }

    #listprod {
        position: fixed;

        border: 1px solid c.$main-color;
        margin-top: 6rem;
        margin-left: 1rem;
        width: 80%;
        z-index: 8;
        display: none;

        li a {
            display: block;
            width: 100%;
            color: c.$text-color;
            padding: 12px 20px;
            font-size: 17px;

            &:hover {

                color: black;
            }

        }

    }


    .portada {
        width: 100%;
        top: 10px;

        .imgportada {
            height: 21vh;
            width: 100%;
        }



        p {
            padding: 1rem 0;
            margin-right: -14rem;
            width: 5%;



            span {

                font-size: 0.5rem;
                color: c.$text-color ;

            }

            .p {

                width: 50px;
                font-size: 1rem;
                color: #ffff;

            }

            button {
                margin-top: 40px;
                background: c.$conten-color;

                a {
                    text-decoration: none;
                    color: c.$text-color;
                    padding: 1rem;

                    &:hover {
                        padding: 0.3rem 1rem;
                        background: c.$bg-color;
                        color: #ffff;

                    }
                }
            }
        }



    }

    #seccion1 {
        grid-area: seccion1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .categoriasPrincipales {
            display: flex;
            flex-direction: row;
            margin-bottom: 1.5rem;
            border: solid 1px #c8cecc;
            border-radius: 10px;
            padding: 1rem 1rem 0 1rem;

            i {
                font-size: 2rem;
                margin-right: 1rem;
                color: c.$bg-color ;
            }

            span {
                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.7rem;
                }
            }

        }
    }

    #seccion2 {
        grid-area: seccion2;



        h1 {
            text-align: center;
        }

        .contenedor {

            display: flex;
            flex-direction: column;


            .contenedor-ites .tr {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 280px !important;
                gap: 0.1rem;

                .ite {
                    width: 40%;
                }


            }



        }

    }

    #seccion3 {

        grid-area: seccion3;

        .zonaAcercaDe {
            display: flex;
            flex-direction: column;
            align-items: center;


            color: #f6efef;
            width: 100%;
            height: 50vh;
            margin-top: 10px;
            font-size: 1rem;
            font-weight: bold;
            background: url(../img/portada-embalado.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            h1 {
                margin-top: 10px;
            }

        }



    }

    #seccion4 {
        grid-area: seccion4;
        display: flex;
        flex-direction: column;

        .zonaCategoria {
            width: auto;
            margin: 1rem;

            grid-area: seccion1;
            align-items: center;
            justify-content: center;

        }

        .seccioncategoria {
            display: flex;
            flex-direction: column;
            align-items: center;


            .linkproductos {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 60%;


                img {
                    width: 100px;

                    &:hover {
                        scale: 1.20;
                    }
                }


            }
        }




    }

    #seccion5 {
        grid-area: seccion5;

        .formulario {
            margin: 25px 0;

            label,
            input {
                margin: 1rem 0;
            }
        }

        .boton {
            width: 40%;
        }


        .acercaDeEmbalados {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0.5rem 0;
            border-bottom: double 1px #fff;
            font-size: 1.3rem;
        }

        .redes1 {
            display: flex;
            flex-direction: column;

            span {
                font-size: 1.3rem;
                margin: 1rem;
            }
        }

        .redes {
            display: flex;
            flex-direction: column;
            font-size: 1.3rem;
            gap: 1rem;
        }


    }
}

@media only screen and (min-width: 360px) {

    #barraDeNavegacion {
        grid-area: barraDeNavegacion;

        .containr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }


        .menuCategorias {


            span {
                font-size: 0.8rem;
                margin: 0 2px;


            }



            li {

                ul {
                    width: 80%;
                    top: 14rem;
                    margin-left: -7rem;

                    li {

                        a {
                            font-size: 0.73rem;
                            padding: 0.2rem;
                            margin: 2px;
                        }
                    }
                }
            }
        }

        .navar {
            width: auto;
            margin: 0;
        }


    }

    #listprod {
        position: fixed;

        border: 1px solid c.$main-color;
        margin-top: 6rem;
        margin-left: 1rem;
        width: 80%;
        z-index: 8;
        display: none;

        li a {
            display: block;
            width: 100%;
            color: c.$text-color;
            padding: 12px 20px;
            font-size: 17px;

            &:hover {

                color: black;
            }
        }

    }



    #seccion1 {
        grid-area: seccion1;
        align-items: center;
        justify-content: space-evenly;


        .linkproductos {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 260px;

            border-radius: 18px;
            margin: 1rem;
            margin-left: 60px;

            img {
                width: 100px;
            }

            a {
                font-size: 1.3rem;
                margin: 2rem;
                color: black;

            }
        }





    }

    #seccion2 {
        grid-area: seccion2;


        h1 {
            text-align: center;
        }

        .contenedor {

            display: flex;
            flex-direction: column;


            .contenedor-ites .tr {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 360px !important;
                gap: 0.1rem;

                .ite {
                    width: 40%;
                }


            }
        }
    }

    #seccion3 {
        grid-area: seccion3;

        .zonaAcercaDe {
            display: flex;
            flex-direction: column;
            align-items: center;


            color: #f6efef;
            width: 100%;
            height: 50vh;
            margin-top: 10px;
            font-size: 1rem;
            font-weight: bold;
            background: url(../img/portada-embalado.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            h1 {
                margin-top: 10px;
            }

        }


    }

    #seccion4 {
        grid-area: seccion4;
        display: flex;
        flex-direction: column;

        .zonaCategoria {
            width: auto;
            margin: 1rem;

            grid-area: seccion1;
            align-items: center;
            justify-content: center;

        }

        .seccioncategoria {
            display: flex;
            flex-direction: column;
            align-items: center;


            .linkproductos {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 80%;


                img {
                    width: 100px;
                }


            }
        }




    }

    #seccion5 {
        grid-area: seccion5;

        .formulario {
            margin: 25px 0;

            label,
            input {
                margin: 1rem 0;
            }
        }




        .acercaDeEmbalados {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0.5rem 0;
            border-bottom: double 1px #fff;
            font-size: 1.3rem;
        }

        .redes1 {
            display: flex;
            flex-direction: column;

            span {
                font-size: 1.3rem;
                margin: 1rem;
            }
        }


    }
}


@media only screen and (min-width: 540px) {

    #barraDeNavegacion {
        grid-area: barraDeNavegacion;

        .containr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }



        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10vh;


            #menuIcon {
                margin-left: 0.2rem;


            }

            .logoembalado {

                width: 70%;
                margin-bottom: 10px;


                .logo {
                    width: 150px;
                }
            }

            .boton {
                width: 90%;
                display: flex;
                flex-direction: row;
                margin-top: 0.1rem;

                input {
                    width: 100%;
                }

                .iconobuscar {
                    display: flex;
                    justify-content: center;
                    font-size: 1.5rem;
                    border: solid 1px c.$main-color;
                    padding: 0 7px;

                }
            }

            .corazon {
                width: 10%;
                font-size: 1.5rem;
                text-align: center;
                margin-top: -6rem;
                margin-left: -8rem;
            }

            .carritoIcon {
                width: 20%;
                margin-top: -6rem;
                margin-right: 0;

                a {

                    text-decoration: none;
                    font-size: 0.9rem;

                    i {
                        font-size: 1.2rem;
                        margin: 0.4rem;

                    }
                }
            }


        }

        .menuCategorias {



            span {
                font-size: 0.8rem;
                margin: 0 2px;


            }



            li {

                ul {
                    height: 70vh;
                    width: 80%;
                    top: 9rem;
                    margin-left: -7rem;

                    li {

                        a {
                            font-size: 0.73rem;
                            padding: 0.2rem;
                            margin: 2px;
                        }
                    }
                }
            }
        }

        .navar {
            width: auto;
            margin: 0;
        }


    }

    .portada {
        width: 100%;
        height: 33vh;
        top: 10px;

        .imgportada {

            height: 40vh;

            .port {
                width: 70%;
            }

            p {
                padding: 1rem 0;
                margin-right: 90rem;
                width: 100%;



                span {

                    font-size: 10rem;
                    color: c.$text-color ;

                }

                .p {

                    width: 50px;
                    font-size: 4rem;
                    color: #ffff;

                }

                button {
                    margin-top: 40px;
                    background: c.$conten-color;

                    a {
                        text-decoration: none;
                        color: c.$text-color;
                        padding: 1rem;

                        &:hover {
                            padding: 0.3rem 1rem;
                            background: c.$bg-color;
                            color: #ffff;

                        }
                    }
                }
            }
        }


    }

    #listprod {
        position: fixed;

        border: 1px solid c.$main-color;
        margin-top: 6rem;
        margin-left: 1rem;
        width: 80%;
        z-index: 8;
        display: none;

        li a {
            display: block;
            width: 100%;
            color: c.$text-color;
            padding: 12px 20px;
            font-size: 17px;

            &:hover {

                color: black;
            }

        }

    }




    #seccion1 {
        grid-area: seccion1;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, minmax(220px, 1fr));

        .categoriasPrincipales {
            display: flex;
            flex-direction: row;
            width: 80%;
            margin-bottom: 1.5rem;
            margin-left: 2rem;
            border: solid 1px #c8cecc;
            border-radius: 10px;
            padding: 1rem 1rem 0 1rem;

            i {
                font-size: 2rem;
                margin-right: 1rem;
                color: c.$bg-color ;
            }

            span {
                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.7rem;
                }
            }

        }

    }

    #seccion2 {
        grid-area: seccion2;

        h1 {
            text-align: center;
        }

        .contenedor {

            display: flex;
            flex-direction: column;
            margin-left: 15%;




            .contenedor-ites .tr {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 360px !important;
                gap: 0.1rem;
                text-align: center;

                .ite {
                    width: 40%;
                }


            }
        }
    }

    #seccion3 {
        grid-area: seccion3;

        .zonaAcercaDe {
            display: flex;
            flex-direction: column;
            align-items: center;


            color: #f6efef;
            width: 100%;
            height: 50vh;
            margin-top: 10px;
            font-size: 1rem;
            font-weight: bold;
            background: url(../img/portada-embalado.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            h1 {
                margin-top: 10px;
            }

        }


    }

    #seccion4 {
        grid-area: seccion4;
        display: flex;
        flex-direction: column;

        .zonaCategoria {
            width: auto;
            margin: 1rem;

            grid-area: seccion1;
            align-items: center;
            justify-content: center;

        }

        .seccioncategoria {
            display: flex;
            flex-direction: column;
            align-items: center;


            .linkproductos {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                width: 60%;




                img {
                    width: 100px;
                }


            }
        }




    }

    #seccion5 {
        grid-area: seccion5;

        .formulario {
            margin: 25px 0;

            label,
            input {
                margin: 1rem 0;
            }
        }



        .acercaDeEmbalados {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0.5rem 0;
            border-bottom: double 1px #fff;
            font-size: 1.3rem;
        }

        .redes1 {
            display: flex;
            flex-direction: column;

            span {
                font-size: 1.3rem;
                margin: 1rem;
            }
        }


    }
}

@media only screen and (min-width: 700px) {


    #barraDeNavegacion {
        grid-area: barraDeNavegacion;

        .containr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }



        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10vh;


            #menuIcon {
                margin-left: 0.2rem;


            }

            .logoembalado {

                width: 70%;
                margin-bottom: 10px;


                .logo {
                    width: 150px;
                }
            }

            .boton {
                width: 70%;
                display: flex;
                flex-direction: row;
                margin-top: 0.1rem;
                margin-left: 6rem;

                input {
                    width: 100%;
                }

                .iconobuscar {
                    display: flex;
                    justify-content: center;
                    font-size: 1.5rem;
                    border: solid 1px c.$main-color;
                    padding: 0 7px;

                }
            }

            .corazon {
                width: 10%;
                font-size: 1.5rem;
                text-align: center;
                margin-top: -7.5rem;
                margin-left: 30rem;
            }

            .carritoIcon {
                width: 20%;
                margin-top: -7.5rem;
                margin-right: 0;

                a {

                    text-decoration: none;
                    font-size: 0.9rem;

                    i {
                        font-size: 1.2rem;
                        margin: 0.4rem;

                    }
                }
            }


        }

        .menunav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-bottom: 5px;
            margin-top: 50px;

            .menuCategorias {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: bolder;




                span {
                    margin: 0 5px;

                    #list {
                        text-align: center;
                        font-size: 1.5rem;
                        margin-left: 2px;


                    }
                }

                li {


                    ul {
                        background: #ffff;
                        position: fixed;
                        width: 30%;
                        height: 75vh;
                        margin-left: 0.5rem;
                        top: 9rem;
                        display: none;


                        li {

                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;


                            a {
                                color: c.$text-color;
                                padding: 0.1rem;
                                font-size: 0.85rem;
                                display: list-item;
                                list-style-type: square;

                                &:hover {
                                    width: 90%;
                                    background: c.$fon-color ;


                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .portada {
        width: 100%;
        height: 33vh;
        top: 10px;

        .imgportada {

            height: 35vh;


            .port {
                width: 70%;
            }

            p {
                padding: 4rem 0;
                margin-left: 17.5rem;
                width: 70%;



                span {

                    font-size: 1.5rem;
                    color: c.$text-color ;

                }

                .p {

                    width: 50px;
                    font-size: 0.9rem;
                    color: #ffff;

                }

                button {
                    margin-top: 40px;
                    background: c.$conten-color;

                    a {
                        text-decoration: none;
                        color: c.$text-color;
                        padding: 1rem;

                        &:hover {
                            padding: 0.3rem 1rem;
                            background: c.$bg-color;
                            color: #ffff;

                        }
                    }
                }
            }
        }


    }


    #seccion1 {
        grid-area: seccion1;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, minmax(220px, 1fr));

        .categoriasPrincipales {
            display: flex;
            flex-direction: row;
            width: 80%;
            margin-bottom: 1.5rem;
            margin-left: 2rem;
            border: solid 1px #c8cecc;
            border-radius: 10px;
            padding: 1rem 1rem 0 1rem;

            i {
                font-size: 2rem;
                margin-right: 1rem;
                color: c.$bg-color ;
            }

            span {
                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.7rem;
                }
            }

        }





    }

    #seccion2 {
        grid-area: seccion2;

        h1 {
            text-align: center;
        }

        .contenedor {

            display: flex;
            flex-direction: column;
            margin-left: 25%;




            .contenedor-ites .tr {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 360px !important;
                gap: 1rem;
                text-align: center;

                .ite {
                    width: 60%;
                }


            }
        }

    }
}

@media only screen and (min-width: 900px) {


    #barraDeNavegacion {
        grid-area: barraDeNavegacion;

        .containr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }



        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10vh;


            #menuIcon {
                margin-left: 0.2rem;
                display: none;

            }

            .logoembalado {

                width: 30%;
                margin-bottom: 10px;
                margin-right: 70rem;

                .logo {
                    width: 200px;
                }
            }

            .boton {
                width: 40%;
                display: flex;
                flex-direction: row;
                margin-top: -5.5rem;
                margin-left: 15rem;

                input {
                    width: 100%;
                }

                .iconobuscar {
                    display: flex;
                    justify-content: center;
                    font-size: 1.5rem;
                    border: solid 1px c.$main-color;
                    padding: 0 7px;

                }
            }

            .corazon {
                width: 10%;
                font-size: 2rem;
                text-align: center;
                margin-top: -7rem;
                margin-left: 38rem;
            }

            .carritoIcon {
                width: 15%;
                margin-top: -7rem;
                margin-right: 1;

                a {

                    text-decoration: none;
                    font-size: 1.1rem;

                    i {
                        font-size: 1.2rem;
                        margin: 1rem;

                    }
                }
            }


        }

        .menunav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-bottom: 5px;
            margin-top: 5px;

            .menuCategorias {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: bolder;




                span {
                    margin: 0 10px;

                    #list {
                        text-align: center;
                        font-size: 1.5rem;
                        margin-left: 2px;


                    }
                }

                li {


                    ul {
                        background: #ffff;
                        position: fixed;
                        width: 30%;
                        height: 40vh;
                        margin-left: 0.5rem;
                        top: 9rem;
                        display: none;


                        li {

                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;


                            a {
                                color: c.$text-color;
                                padding: 0.1rem;
                                font-size: 0.85rem;
                                display: list-item;
                                list-style-type: square;

                                &:hover {
                                    width: 90%;
                                    background: c.$fon-color ;


                                }
                            }
                        }
                    }
                }
            }

            .menuCategorias:hover {


                ul {

                    display: block;
                    transform: translate(0px, 0%);

                    li {

                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 0.5rem;

                        a {
                            color: c.$text-color;
                            text-decoration: none;
                        }
                    }
                }

            }


            .navar {
                display: flex;
                column-gap: 1rem;


                a {
                    text-decoration: none;
                    color: c.$text-color;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    &:hover {
                        color: c.$main-color;
                        border-bottom: solid 1.7px c.$main-color;
                    }
                }
            }

            .navar .active {
                color: c.$main-color;

            }

            .accesoORegistro {
                margin-right: 4px;

                a {
                    color: c.$text-color;
                    text-decoration: none;

                    i {
                        color: c.$main-color ;
                    }
                }
            }
        }


    }


    #listprod {
        position: fixed;

        border: 1px solid c.$main-color;
        margin-top: 3rem;
        margin-left: 27rem;
        width: 16%;
        z-index: 8;
        display: none;

        li a {
            display: block;
            width: 100%;
            color: c.$text-color;
            padding: 5px;
            font-size: 17px;

            &:hover {

                color: black;
            }
        }

    }






    #seccion2 {
        grid-area: seccion2;

        .contenedor {
            max-width: 1200px;
            padding: 10px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            /* oculto lo que queda fuera del .contenedor */
            contain: paint;
        }

        /* SECCION CONTENEDOR DE ITEMS */
        .contenedor .contenedor-ites {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            grid-gap: 10px;
            grid-row-gap: 30px;
            width: 100%;
            transition: .3s;
        }

        .contenedor .contenedor-ites .tr {
            margin-top: 10px;
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
            border-radius: 70px;
            grid-gap: 1px;
            width: 100%;
            transition: .3s;
            margin-left: 10px;

        }

        .contenedor .contenedor-ites .ite {
            max-width: 300px;
            margin: 10px;
            background: rgba(243, 245, 246, 0.923);
            padding: 20px;
            transition: .3s;
        }

        .contenedor .contenedor-ites .ite .img-ite {
            width: 90%;
        }

        .contenedor .contenedor-ites .ite:hover {
            box-shadow: 0 0 10px #666;
            scale: 1.05;
        }

        .contenedor .contenedor-ites .ite .titulo-ite {
            display: block;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }

        .contenedor .contenedor-ites .ite .precio-ite {
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }

        .contenedor .contenedor-ites .ite .boton-ite {
            display: block;
            margin: 10px auto;
            border: none;
            background-color: black;
            color: #fff;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    #seccion3 {
        grid-area: seccion3;

        .zonaAcercaDe {
            display: flex;
            flex-direction: column;
            align-items: center;


            color: #f6efef;
            width: 100%;
            height: 100vh;
            margin-top: 10px;
            font-size: 1rem;
            font-weight: bold;
            background: url(#);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            h1 {
                margin-top: 10px;
            }

        }


    }

    #seccion4 {
        grid-area: seccion4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;


        .zonaCategoria {
            width: 60%;
            margin: 1rem;
            align-items: center;
            justify-content: center;


        }

        .seccioncategoria {

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 10px;
            width: 90%;




            .linkproductos {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                width: 250px;




                img {
                    width: 100px;
                }


            }
        }




    }

    #seccion5 {
        grid-area: seccion5;

        .footer {
            display: flex;
            flex-direction: column;


            .formulario {
                margin: 25px 0;

                label,
                input {
                    margin: 0.5rem 0;
                }
            }

            .interaccion {

                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 20px;

                .acercaDeEmbalados {
                    display: flex;
                    flex-direction: column;
                    width: 30%;


                    span {
                        border-bottom: double 1px #fff;

                    }
                }

                .redes {
                    font-size: 2rem;

                    span {
                        margin-bottom: 20px;
                    }

                    a {

                        margin: 10px;
                    }
                }


            }

            p {
                font-size: 1.5rem;
                margin-top: 60px;
            }
        }

    }


}

@media only screen and (min-width: 1000px) {


    #barraDeNavegacion {
        grid-area: barraDeNavegacion;

        .containr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }



        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 15vh;


            #menuIcon {
                margin-left: 0.2rem;
                display: none;

            }

            .logoembalado {

                width: 30%;
                margin-bottom: 10px;
                margin-right: 70rem;

                .logo {
                    width: 200px;
                }
            }

            .boton {
                width: 40%;
                display: flex;
                flex-direction: row;
                margin-top: -5.5rem;
                margin-left: 15rem;

                input {
                    width: 100%;
                }

                .iconobuscar {
                    display: flex;
                    justify-content: center;
                    font-size: 1.5rem;
                    border: solid 1px c.$main-color;
                    padding: 0 7px;

                }
            }

            .corazon {
                width: 10%;
                font-size: 2rem;
                text-align: center;
                margin-top: -5rem;
                margin-left: 42rem;
            }

            .carritoIcon {
                width: 15%;
                margin-top: -5rem;
                margin-right: 1;

                a {

                    text-decoration: none;
                    font-size: 1.1rem;

                    i {
                        font-size: 1.2rem;
                        margin: 1rem;

                    }
                }
            }


        }

        .menunav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-bottom: 5px;
            margin-top: 5px;

            .menuCategorias {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: bolder;




                span {
                    margin: 0 10px;

                    #list {
                        text-align: center;
                        font-size: 2.5rem;
                        margin-left: 2px;


                    }
                }

                li {


                    ul {
                        background: #ffff;
                        position: fixed;
                        width: 30%;
                        height: 78vh;
                        margin-left: -6rem;
                        top: 9rem;
                        display: none;


                        li {

                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;


                            a {
                                color: c.$text-color;
                                padding: 0.1rem;
                                font-size: 0.85rem;
                                display: list-item;
                                list-style-type: square;

                                &:hover {
                                    width: 90%;
                                    background: c.$fon-color ;


                                }
                            }
                        }
                    }
                }
            }

            .menuCategorias:hover {


                ul {

                    display: block;
                    transform: translate(0px, 0%);

                    li {

                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 0.5rem;

                        a {
                            color: c.$text-color;
                            text-decoration: none;
                        }
                    }
                }

            }


            .navar {
                display: flex;
                column-gap: 1rem;


                a {
                    text-decoration: none;
                    color: c.$text-color;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    &:hover {
                        color: c.$main-color;
                        border-bottom: solid 1.7px c.$main-color;
                    }
                }
            }

            .navar .active {
                color: c.$main-color;

            }

            .accesoORegistro {
                margin-right: 4px;

                a {
                    color: c.$text-color;
                    text-decoration: none;

                    i {
                        color: c.$main-color ;
                    }
                }
            }
        }


    }

    .portada {
        width: 100%;
        height: 60vh;
        top: 10px;

        .imgportada {

            height: 60vh;


            .port {
                width: 70%;
            }

            p {
                padding: 8rem 0;
                margin-left: 22rem;
                width: 70%;



                span {

                    font-size: 2rem;
                    color: c.$text-color ;

                }

                .p {

                    width: 50px;
                    font-size: 1rem;
                    color: #ffff;

                }

                button {
                    margin-top: 40px;
                    background: c.$conten-color;

                    a {
                        text-decoration: none;
                        color: c.$text-color;
                        padding: 1rem;

                        &:hover {
                            padding: 0.3rem 1rem;
                            background: c.$bg-color;
                            color: #ffff;

                        }
                    }
                }
            }
        }


    }


    #seccion1 {
        grid-area: seccion1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        width: 95%;
        margin-left: 1rem;

        .categoriasPrincipales {
            display: flex;
            flex-direction: row;
            width: 80%;
            margin-bottom: 1.5rem;
            margin-left: 1rem;
            border: solid 1px #c8cecc;
            border-radius: 10px;
            padding: 1rem 1rem 0 1rem;

            i {
                font-size: 2rem;
                margin-right: 1rem;
                color: c.$bg-color ;
            }

            span {
                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.7rem;
                }
            }

        }





    }

    #seccion4 {
        grid-area: seccion4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 30px;
    }
}

@media only screen and (min-width: 1200px) {


    #barraDeNavegacion {
        grid-area: barraDeNavegacion;

        .containr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }



        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 15vh;


            #menuIcon {
                margin-left: 0.2rem;
                display: none;

            }

            .logoembalado {

                width: 30%;
                margin-bottom: 10px;
                margin-right: 70rem;

                .logo {
                    width: 200px;
                }
            }

            .boton {
                width: 50%;
                display: flex;
                flex-direction: row;
                margin-top: -5.1rem;
                margin-left: 15rem;

                input {
                    width: 100%;
                }

                .iconobuscar {
                    display: flex;
                    justify-content: center;
                    font-size: 1.5rem;
                    border: solid 1px c.$main-color;
                    padding: 0 7px;

                }
            }

            .corazon {
                width: 10%;
                font-size: 2rem;
                text-align: center;
                margin-top: -5rem;
                margin-left: 55rem;
            }

            .carritoIcon {
                width: 15%;
                margin-top: -5rem;
                margin-right: 1;

                a {

                    text-decoration: none;
                    font-size: 1.1rem;

                    i {
                        font-size: 1.2rem;
                        margin: 1rem;

                    }
                }
            }


        }

        .menunav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-bottom: 5px;
            margin-top: 5px;

            .menuCategorias {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: bolder;




                span {
                    margin: 0 10px;

                    #list {
                        text-align: center;
                        font-size: 4rem;
                        margin-left: 2px;


                    }
                }

                li {


                    ul {
                        background: #ffff;
                        position: fixed;
                        width: 30%;
                        height: 60vh;
                        margin-left: -6rem;
                        top: 9rem;
                        display: none;


                        li {

                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;


                            a {
                                color: c.$text-color;
                                padding: 0.1rem;
                                font-size: 0.85rem;
                                display: list-item;
                                list-style-type: square;

                                &:hover {
                                    width: 90%;
                                    background: c.$fon-color ;


                                }
                            }
                        }
                    }
                }
            }

            .menuCategorias:hover {


                ul {

                    display: block;
                    transform: translate(0px, 0%);

                    li {

                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 0.5rem;

                        a {
                            color: c.$text-color;
                            text-decoration: none;
                        }
                    }
                }

            }


            .navar {
                display: flex;
                column-gap: 1rem;


                a {
                    text-decoration: none;
                    color: c.$text-color;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    &:hover {
                        color: c.$main-color;
                        border-bottom: solid 1.7px c.$main-color;
                    }
                }
            }

            .navar .active {
                color: c.$main-color;

            }

            .accesoORegistro {
                margin-right: 4px;

                a {
                    color: c.$text-color;
                    text-decoration: none;

                    i {
                        color: c.$main-color ;
                    }
                }
            }
        }


    }

    .portada {
        width: 100%;
        height: 60vh;
        top: 10px;

        .imgportada {

            height: 60vh;


            .port {
                width: 70%;
            }

            p {
                padding: 11rem 0;
                margin-left: 28rem;
                width: 70%;



                span {

                    font-size: 2.5rem;
                    color: c.$text-color ;

                }

                .p {

                    width: 50px;
                    font-size: 1.3rem;
                    color: #ffff;

                }

                button {
                    margin-top: 40px;
                    background: c.$conten-color;

                    a {
                        text-decoration: none;
                        color: c.$text-color;
                        padding: 1rem;

                        &:hover {
                            padding: 0.3rem 1rem;
                            background: c.$bg-color;
                            color: #ffff;

                        }
                    }
                }
            }
        }


    }


    #seccion1 {
        grid-area: seccion1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        width: 95%;
        margin-left: 2rem;



    }








}





@media (max-width: 1080px) {
    .containr {
        margin-left: 1rem;
        margin-right: 1rem;
    }


}

@media (max-width: 991px) {
    .nav {
        padding: 15px 20px;
    }





    section {
        padding: 3rem 0 1rem;
    }


}







@media (max-width: 860px) {

    .search-box input {
        padding: 15px;
    }

    .nav {
        padding: 10px 0;
    }

    #menuIcon {
        display: initial;
    }

    .navar {
        position: absolute;
        top: 20%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #ffff;
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s;

        a {
            display: block;
            padding: 15px;

            &:hover {
                border-bottom: none;
                background: #ffff;
                color: c.$text-color ;
            }
        }

        .active {
            border-bottom: none;
            background: #ffff;
            color: c.$text-color ;

        }
    }

    .navar.active {
        clip-path: circle(144% at 0% 0%);
    }

    .blog-container.box {
        padding: 4px;
    }

}