@use'__commos' as c;

.zonaCategoria {

    text-align: center;

}

.seccioncategoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;


    .linkproductos {
        border-bottom: dashed 2px c.$text-color;
        margin-bottom: 40px;
        text-align: center;

        img {
            border: solid 2px c.$text-color;
            border-radius: 100px;
            margin: 15px;
        }

        a {
            width: 100%;
            font-size: 1.3rem;
            margin: 2rem;
            color: c.$text-color;
        }

        p {
            margin-bottom: 10px;
        }
    }

}