@use'__commos' as c;

#seccion1 {
    display: flex;


    .categoriasPrincipales {
        display: flex;
        flex-direction: row;

        i {
            font-size: 3.5rem;
            margin-right: 1rem;
            color: c.$bg-color ;
        }

        span {
            h3 {
                font-size: 1.3rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

.categoriasPrincipales:hover {
    scale: 1.2;
    box-shadow: 0 0 3px #666;
    background: #fafdfc;
    border: solid 1px #fafdfc;
    border-radius: 10px;
}