@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&family=Source+Sans+Pro&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "barraDeNavegacion" "home" "seccion1" "seccion2" "seccion3" "seccion4" "seccion5";
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background: rgb(0, 0, 0);
}

.btn-wapp {
  position: fixed;
  width: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 40px;
  text-align: center;
  font-size: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.btn-wapp:hover {
  text-decoration: none;
  background: #fff;
  color: #0df053;
}

.containr {
  max-width: 100%;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

header.Shadow {
  background: white;
  box-shadow: 4px 4px 20px rgba(15, 54, 55, 0.2);
  transition: 0.5s ease;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}

.logoembalado {
  width: 30%;
  margin-bottom: 10px;
}
.logoembalado .logo {
  width: 250px;
}

.boton {
  width: 30%;
  display: flex;
  flex-direction: row;
}
.boton input {
  width: 100%;
}
.boton .iconobuscar {
  display: flex;
  justify-content: center;
  background: rgb(85, 38, 225);
  color: white;
  font-size: 1.5rem;
  border: solid 1px rgb(85, 38, 225);
  padding: 0 7px;
}

.corazon {
  width: 10%;
  font-size: 1.8rem;
  text-align: center;
  color: rgb(85, 38, 225);
}

.carritoIcon {
  width: 15%;
}
.carritoIcon a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.carritoIcon a i {
  font-size: 1.5rem;
  margin: 0.4rem;
  color: rgb(85, 38, 225);
}

#menuIcon {
  font-size: 24px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  display: none;
}

.menunav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5px;
  margin-top: 50px;
}
.menunav .menuCategorias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
}
.menunav .menuCategorias span {
  margin: 0 5px;
}
.menunav .menuCategorias span #list {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 2px;
}
.menunav .menuCategorias li ul {
  background: white;
  position: fixed;
  width: 30%;
  height: 75vh;
  margin-left: 0.5rem;
  top: 9rem;
  display: none;
}
.menunav .menuCategorias li ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menunav .menuCategorias li ul li a {
  color: rgb(0, 0, 0);
  padding: 0.1rem;
  font-size: 0.85rem;
  display: list-item;
  list-style-type: square;
}
.menunav .menuCategorias li ul li a:hover {
  width: 90%;
  background: rgb(164, 165, 174);
}
.menunav .menuCategorias:hover ul {
  display: block;
  transform: translate(0px, 0%);
}
.menunav .menuCategorias:hover ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem;
}
.menunav .menuCategorias:hover ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.menunav .navar {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.menunav .navar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.menunav .navar a:hover {
  color: rgb(85, 38, 225);
  border-bottom: solid 1.7px rgb(85, 38, 225);
}
.menunav .navar .active {
  color: rgb(85, 38, 225);
}
.menunav .accesoORegistro a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.menunav .accesoORegistro a i {
  color: rgb(85, 38, 225);
}

#listprod {
  position: fixed;
  background: white;
  border: 1px solid rgb(85, 38, 225);
  top: 5px;
  margin-left: 25rem;
  width: 10%;
  z-index: 100;
  display: none;
}
#listprod li a {
  display: block;
  width: 100%;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  font-size: 20px;
}
#listprod li a:hover {
  color: red;
}

/*

#coverContSearc {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#barraDeNavegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 100px;
    border: solid 5px black;
    margin: 0 0px;

    #logo {
        max-width: 250px;
        border: solid 5px black;
        padding: 3%;

    }

    #navardPrincipal {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 700px;
        border: solid 5px black;

        ul {
            display: flex;
            flex-direction: row;

            li {
                max-width: 100px;

                a {
                    font-size: 1.2rem;
                    margin: 1rem;
                }
            }
        }
    }

    .iconos {
        display: flex;
        flex-direction: row;

        .btnIcon {
            margin: 1.5rem;
        }
    }
}

*/
/*
.portada {
    width: 100%;
    top: 10px;

    .imgportada {
        height: 100vh;
    }



    p {
        padding: 200px 0;
        margin-left: 600px;
        width: 55%;



        span {

            font-size: 2.4rem;
            color: c.$text-color ;

        }

        .p {

            width: 50px;
            font-size: 1rem;
            color: #ffff;

        }

        button {
            margin-top: 40px;
            background: c.$conten-color;

            a {
                text-decoration: none;
                color: c.$text-color;
                padding: 1rem;

                &:hover {
                    padding: 0.3rem 1rem;
                    background: c.$bg-color;
                    color: #ffff;

                }
            }
        }
    }



}
*/
#seccion1 {
  display: flex;
}
#seccion1 .categoriasPrincipales {
  display: flex;
  flex-direction: row;
}
#seccion1 .categoriasPrincipales i {
  font-size: 3.5rem;
  margin-right: 1rem;
  color: rgb(255, 77, 43);
}
#seccion1 .categoriasPrincipales span h3 {
  font-size: 1.3rem;
}
#seccion1 .categoriasPrincipales span p {
  font-size: 1rem;
}

.categoriasPrincipales:hover {
  scale: 1.2;
  box-shadow: 0 0 3px #666;
  background: #fafdfc;
  border: solid 1px #fafdfc;
  border-radius: 10px;
}

.contenedor {
  max-width: auto;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* oculto lo que queda fuera del .contenedor */
  contain: paint;
}
.contenedor .enSuperOterta {
  font-size: 2.3rem;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-ites {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-gap: 10px;
  grid-row-gap: 30px;
  width: 30%;
  height: 50%;
  transition: 0.3s;
}

.contenedor .contenedor-ites .ite {
  max-width: auto;
  margin: 20px 0.1rem;
  padding: 0.5px;
  transition: 0.3s;
}

.contenedor .contenedor-ites .ite .img-ite {
  width: 80%;
}

.contenedor .contenedor-ites .ite:hover {
  box-shadow: 0 0 3px #666;
  scale: 1.05;
}

.contenedor .contenedor-ites .ite .titulo-ite {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

.zonaCategoria {
  text-align: center;
}

.seccioncategoria {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.seccioncategoria .linkproductos {
  border-bottom: dashed 2px rgb(0, 0, 0);
  margin-bottom: 40px;
  text-align: center;
}
.seccioncategoria .linkproductos img {
  border: solid 2px rgb(0, 0, 0);
  border-radius: 100px;
  margin: 15px;
}
.seccioncategoria .linkproductos a {
  width: 100%;
  font-size: 1.3rem;
  margin: 2rem;
  color: rgb(0, 0, 0);
}
.seccioncategoria .linkproductos p {
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  height: 40rem;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.footer form .tyc {
  font-size: 1.3rem;
  color: #e80606;
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
}
.footer .boton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 28px;
  border: 1px solid black;
  display: block;
  position: relative;
  width: 30%;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 17px;
  text-decoration: none;
}
.footer .boton:hover {
  background-color: red;
  color: #f6f0f0;
  transform: scale(1) translate(-15%, -20%);
}
.footer .acercaDeEmbalados a {
  color: #e80606;
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
}
.footer p {
  margin-top: 10px;
}

@media only screen and (min-width: 280px) {
  #barraDeNavegacion {
    grid-area: barraDeNavegacion;
  }
  #barraDeNavegacion .containr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #barraDeNavegacion .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
  }
  #barraDeNavegacion .nav #menuIcon {
    margin-left: 0.2rem;
  }
  #barraDeNavegacion .nav .logoembalado {
    width: 70%;
    margin-bottom: 10px;
  }
  #barraDeNavegacion .nav .logoembalado .logo {
    width: 150px;
  }
  #barraDeNavegacion .nav .boton {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 0.1rem;
  }
  #barraDeNavegacion .nav .boton input {
    width: 100%;
  }
  #barraDeNavegacion .nav .boton .iconobuscar {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border: solid 1px rgb(85, 38, 225);
    padding: 0 7px;
  }
  #barraDeNavegacion .nav .corazon {
    width: 10%;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 3rem;
  }
  #barraDeNavegacion .nav .carritoIcon {
    width: 40%;
    margin-top: 1rem;
    margin-right: 2rem;
  }
  #barraDeNavegacion .nav .carritoIcon a {
    text-decoration: none;
    font-size: 0.9rem;
  }
  #barraDeNavegacion .nav .carritoIcon a i {
    font-size: 1.2rem;
    margin: 0.4rem;
  }
  #barraDeNavegacion .menuCategorias span {
    font-size: 0.8rem;
    margin: 0 2px;
  }
  #barraDeNavegacion .menuCategorias li ul {
    width: 80%;
    top: 11rem;
    margin-left: -7rem;
  }
  #barraDeNavegacion .menuCategorias li ul li a {
    font-size: 0.73rem;
    padding: 0.2rem;
    margin: 2px;
  }
  #barraDeNavegacion .accesoORegistro {
    margin-right: 1.4rem;
  }
  #barraDeNavegacion .accesoORegistro a {
    font-size: 0.85rem;
  }
  #barraDeNavegacion .navar {
    width: auto;
    margin: 0;
  }
  #listprod {
    position: fixed;
    border: 1px solid rgb(85, 38, 225);
    margin-top: 6rem;
    margin-left: 1rem;
    width: 80%;
    z-index: 8;
    display: none;
  }
  #listprod li a {
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    font-size: 17px;
  }
  #listprod li a:hover {
    color: black;
  }
  .portada {
    width: 100%;
    top: 10px;
  }
  .portada .imgportada {
    height: 21vh;
    width: 100%;
  }
  .portada p {
    padding: 1rem 0;
    margin-right: -14rem;
    width: 5%;
  }
  .portada p span {
    font-size: 0.5rem;
    color: rgb(0, 0, 0);
  }
  .portada p .p {
    width: 50px;
    font-size: 1rem;
    color: white;
  }
  .portada p button {
    margin-top: 40px;
    background: rgb(255, 231, 0);
  }
  .portada p button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
  }
  .portada p button a:hover {
    padding: 0.3rem 1rem;
    background: rgb(255, 77, 43);
    color: white;
  }
  #seccion1 {
    grid-area: seccion1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #seccion1 .categoriasPrincipales {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    border: solid 1px #c8cecc;
    border-radius: 10px;
    padding: 1rem 1rem 0 1rem;
  }
  #seccion1 .categoriasPrincipales i {
    font-size: 2rem;
    margin-right: 1rem;
    color: rgb(255, 77, 43);
  }
  #seccion1 .categoriasPrincipales span h3 {
    font-size: 1rem;
  }
  #seccion1 .categoriasPrincipales span p {
    font-size: 0.7rem;
  }
  #seccion2 {
    grid-area: seccion2;
  }
  #seccion2 h1 {
    text-align: center;
  }
  #seccion2 .contenedor {
    display: flex;
    flex-direction: column;
  }
  #seccion2 .contenedor .contenedor-ites .tr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 280px !important;
    gap: 0.1rem;
  }
  #seccion2 .contenedor .contenedor-ites .tr .ite {
    width: 40%;
  }
  #seccion3 {
    grid-area: seccion3;
  }
  #seccion3 .zonaAcercaDe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f6efef;
    width: 100%;
    height: 50vh;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: url(../img/portada-embalado.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #seccion3 .zonaAcercaDe h1 {
    margin-top: 10px;
  }
  #seccion4 {
    grid-area: seccion4;
    display: flex;
    flex-direction: column;
  }
  #seccion4 .zonaCategoria {
    width: auto;
    margin: 1rem;
    grid-area: seccion1;
    align-items: center;
    justify-content: center;
  }
  #seccion4 .seccioncategoria {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #seccion4 .seccioncategoria .linkproductos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
  }
  #seccion4 .seccioncategoria .linkproductos img {
    width: 100px;
  }
  #seccion4 .seccioncategoria .linkproductos img:hover {
    scale: 1.2;
  }
  #seccion5 {
    grid-area: seccion5;
  }
  #seccion5 .formulario {
    margin: 25px 0;
  }
  #seccion5 .formulario label,
  #seccion5 .formulario input {
    margin: 1rem 0;
  }
  #seccion5 .boton {
    width: 40%;
  }
  #seccion5 .acercaDeEmbalados {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.5rem 0;
    border-bottom: double 1px #fff;
    font-size: 1.3rem;
  }
  #seccion5 .redes1 {
    display: flex;
    flex-direction: column;
  }
  #seccion5 .redes1 span {
    font-size: 1.3rem;
    margin: 1rem;
  }
  #seccion5 .redes {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 1rem;
  }
}
@media only screen and (min-width: 360px) {
  #barraDeNavegacion {
    grid-area: barraDeNavegacion;
  }
  #barraDeNavegacion .containr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #barraDeNavegacion .menuCategorias span {
    font-size: 0.8rem;
    margin: 0 2px;
  }
  #barraDeNavegacion .menuCategorias li ul {
    width: 80%;
    top: 14rem;
    margin-left: -7rem;
  }
  #barraDeNavegacion .menuCategorias li ul li a {
    font-size: 0.73rem;
    padding: 0.2rem;
    margin: 2px;
  }
  #barraDeNavegacion .navar {
    width: auto;
    margin: 0;
  }
  #listprod {
    position: fixed;
    border: 1px solid rgb(85, 38, 225);
    margin-top: 6rem;
    margin-left: 1rem;
    width: 80%;
    z-index: 8;
    display: none;
  }
  #listprod li a {
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    font-size: 17px;
  }
  #listprod li a:hover {
    color: black;
  }
  #seccion1 {
    grid-area: seccion1;
    align-items: center;
    justify-content: space-evenly;
  }
  #seccion1 .linkproductos {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 260px;
    border-radius: 18px;
    margin: 1rem;
    margin-left: 60px;
  }
  #seccion1 .linkproductos img {
    width: 100px;
  }
  #seccion1 .linkproductos a {
    font-size: 1.3rem;
    margin: 2rem;
    color: black;
  }
  #seccion2 {
    grid-area: seccion2;
  }
  #seccion2 h1 {
    text-align: center;
  }
  #seccion2 .contenedor {
    display: flex;
    flex-direction: column;
  }
  #seccion2 .contenedor .contenedor-ites .tr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 360px !important;
    gap: 0.1rem;
  }
  #seccion2 .contenedor .contenedor-ites .tr .ite {
    width: 40%;
  }
  #seccion3 {
    grid-area: seccion3;
  }
  #seccion3 .zonaAcercaDe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f6efef;
    width: 100%;
    height: 50vh;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: url(../img/portada-embalado.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #seccion3 .zonaAcercaDe h1 {
    margin-top: 10px;
  }
  #seccion4 {
    grid-area: seccion4;
    display: flex;
    flex-direction: column;
  }
  #seccion4 .zonaCategoria {
    width: auto;
    margin: 1rem;
    grid-area: seccion1;
    align-items: center;
    justify-content: center;
  }
  #seccion4 .seccioncategoria {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #seccion4 .seccioncategoria .linkproductos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }
  #seccion4 .seccioncategoria .linkproductos img {
    width: 100px;
  }
  #seccion5 {
    grid-area: seccion5;
  }
  #seccion5 .formulario {
    margin: 25px 0;
  }
  #seccion5 .formulario label,
  #seccion5 .formulario input {
    margin: 1rem 0;
  }
  #seccion5 .acercaDeEmbalados {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.5rem 0;
    border-bottom: double 1px #fff;
    font-size: 1.3rem;
  }
  #seccion5 .redes1 {
    display: flex;
    flex-direction: column;
  }
  #seccion5 .redes1 span {
    font-size: 1.3rem;
    margin: 1rem;
  }
}
@media only screen and (min-width: 540px) {
  #barraDeNavegacion {
    grid-area: barraDeNavegacion;
  }
  #barraDeNavegacion .containr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #barraDeNavegacion .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
  }
  #barraDeNavegacion .nav #menuIcon {
    margin-left: 0.2rem;
  }
  #barraDeNavegacion .nav .logoembalado {
    width: 70%;
    margin-bottom: 10px;
  }
  #barraDeNavegacion .nav .logoembalado .logo {
    width: 150px;
  }
  #barraDeNavegacion .nav .boton {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 0.1rem;
  }
  #barraDeNavegacion .nav .boton input {
    width: 100%;
  }
  #barraDeNavegacion .nav .boton .iconobuscar {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border: solid 1px rgb(85, 38, 225);
    padding: 0 7px;
  }
  #barraDeNavegacion .nav .corazon {
    width: 10%;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -6rem;
    margin-left: -8rem;
  }
  #barraDeNavegacion .nav .carritoIcon {
    width: 20%;
    margin-top: -6rem;
    margin-right: 0;
  }
  #barraDeNavegacion .nav .carritoIcon a {
    text-decoration: none;
    font-size: 0.9rem;
  }
  #barraDeNavegacion .nav .carritoIcon a i {
    font-size: 1.2rem;
    margin: 0.4rem;
  }
  #barraDeNavegacion .menuCategorias span {
    font-size: 0.8rem;
    margin: 0 2px;
  }
  #barraDeNavegacion .menuCategorias li ul {
    height: 70vh;
    width: 80%;
    top: 9rem;
    margin-left: -7rem;
  }
  #barraDeNavegacion .menuCategorias li ul li a {
    font-size: 0.73rem;
    padding: 0.2rem;
    margin: 2px;
  }
  #barraDeNavegacion .navar {
    width: auto;
    margin: 0;
  }
  .portada {
    width: 100%;
    height: 33vh;
    top: 10px;
  }
  .portada .imgportada {
    height: 40vh;
  }
  .portada .imgportada .port {
    width: 70%;
  }
  .portada .imgportada p {
    padding: 1rem 0;
    margin-right: 90rem;
    width: 100%;
  }
  .portada .imgportada p span {
    font-size: 10rem;
    color: rgb(0, 0, 0);
  }
  .portada .imgportada p .p {
    width: 50px;
    font-size: 4rem;
    color: white;
  }
  .portada .imgportada p button {
    margin-top: 40px;
    background: rgb(255, 231, 0);
  }
  .portada .imgportada p button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
  }
  .portada .imgportada p button a:hover {
    padding: 0.3rem 1rem;
    background: rgb(255, 77, 43);
    color: white;
  }
  #listprod {
    position: fixed;
    border: 1px solid rgb(85, 38, 225);
    margin-top: 6rem;
    margin-left: 1rem;
    width: 80%;
    z-index: 8;
    display: none;
  }
  #listprod li a {
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    font-size: 17px;
  }
  #listprod li a:hover {
    color: black;
  }
  #seccion1 {
    grid-area: seccion1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
  #seccion1 .categoriasPrincipales {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    border: solid 1px #c8cecc;
    border-radius: 10px;
    padding: 1rem 1rem 0 1rem;
  }
  #seccion1 .categoriasPrincipales i {
    font-size: 2rem;
    margin-right: 1rem;
    color: rgb(255, 77, 43);
  }
  #seccion1 .categoriasPrincipales span h3 {
    font-size: 1rem;
  }
  #seccion1 .categoriasPrincipales span p {
    font-size: 0.7rem;
  }
  #seccion2 {
    grid-area: seccion2;
  }
  #seccion2 h1 {
    text-align: center;
  }
  #seccion2 .contenedor {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
  }
  #seccion2 .contenedor .contenedor-ites .tr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 360px !important;
    gap: 0.1rem;
    text-align: center;
  }
  #seccion2 .contenedor .contenedor-ites .tr .ite {
    width: 40%;
  }
  #seccion3 {
    grid-area: seccion3;
  }
  #seccion3 .zonaAcercaDe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f6efef;
    width: 100%;
    height: 50vh;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: url(../img/portada-embalado.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #seccion3 .zonaAcercaDe h1 {
    margin-top: 10px;
  }
  #seccion4 {
    grid-area: seccion4;
    display: flex;
    flex-direction: column;
  }
  #seccion4 .zonaCategoria {
    width: auto;
    margin: 1rem;
    grid-area: seccion1;
    align-items: center;
    justify-content: center;
  }
  #seccion4 .seccioncategoria {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #seccion4 .seccioncategoria .linkproductos {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
  }
  #seccion4 .seccioncategoria .linkproductos img {
    width: 100px;
  }
  #seccion5 {
    grid-area: seccion5;
  }
  #seccion5 .formulario {
    margin: 25px 0;
  }
  #seccion5 .formulario label,
  #seccion5 .formulario input {
    margin: 1rem 0;
  }
  #seccion5 .acercaDeEmbalados {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.5rem 0;
    border-bottom: double 1px #fff;
    font-size: 1.3rem;
  }
  #seccion5 .redes1 {
    display: flex;
    flex-direction: column;
  }
  #seccion5 .redes1 span {
    font-size: 1.3rem;
    margin: 1rem;
  }
}
@media only screen and (min-width: 700px) {
  #barraDeNavegacion {
    grid-area: barraDeNavegacion;
  }
  #barraDeNavegacion .containr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #barraDeNavegacion .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
  }
  #barraDeNavegacion .nav #menuIcon {
    margin-left: 0.2rem;
  }
  #barraDeNavegacion .nav .logoembalado {
    width: 70%;
    margin-bottom: 10px;
  }
  #barraDeNavegacion .nav .logoembalado .logo {
    width: 150px;
  }
  #barraDeNavegacion .nav .boton {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 0.1rem;
    margin-left: 6rem;
  }
  #barraDeNavegacion .nav .boton input {
    width: 100%;
  }
  #barraDeNavegacion .nav .boton .iconobuscar {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border: solid 1px rgb(85, 38, 225);
    padding: 0 7px;
  }
  #barraDeNavegacion .nav .corazon {
    width: 10%;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -7.5rem;
    margin-left: 30rem;
  }
  #barraDeNavegacion .nav .carritoIcon {
    width: 20%;
    margin-top: -7.5rem;
    margin-right: 0;
  }
  #barraDeNavegacion .nav .carritoIcon a {
    text-decoration: none;
    font-size: 0.9rem;
  }
  #barraDeNavegacion .nav .carritoIcon a i {
    font-size: 1.2rem;
    margin: 0.4rem;
  }
  #barraDeNavegacion .menunav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5px;
    margin-top: 50px;
  }
  #barraDeNavegacion .menunav .menuCategorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
  }
  #barraDeNavegacion .menunav .menuCategorias span {
    margin: 0 5px;
  }
  #barraDeNavegacion .menunav .menuCategorias span #list {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 2px;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul {
    background: white;
    position: fixed;
    width: 30%;
    height: 75vh;
    margin-left: 0.5rem;
    top: 9rem;
    display: none;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li a {
    color: rgb(0, 0, 0);
    padding: 0.1rem;
    font-size: 0.85rem;
    display: list-item;
    list-style-type: square;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li a:hover {
    width: 90%;
    background: rgb(164, 165, 174);
  }
  .portada {
    width: 100%;
    height: 33vh;
    top: 10px;
  }
  .portada .imgportada {
    height: 35vh;
  }
  .portada .imgportada .port {
    width: 70%;
  }
  .portada .imgportada p {
    padding: 4rem 0;
    margin-left: 17.5rem;
    width: 70%;
  }
  .portada .imgportada p span {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
  }
  .portada .imgportada p .p {
    width: 50px;
    font-size: 0.9rem;
    color: white;
  }
  .portada .imgportada p button {
    margin-top: 40px;
    background: rgb(255, 231, 0);
  }
  .portada .imgportada p button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
  }
  .portada .imgportada p button a:hover {
    padding: 0.3rem 1rem;
    background: rgb(255, 77, 43);
    color: white;
  }
  #seccion1 {
    grid-area: seccion1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
  #seccion1 .categoriasPrincipales {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    border: solid 1px #c8cecc;
    border-radius: 10px;
    padding: 1rem 1rem 0 1rem;
  }
  #seccion1 .categoriasPrincipales i {
    font-size: 2rem;
    margin-right: 1rem;
    color: rgb(255, 77, 43);
  }
  #seccion1 .categoriasPrincipales span h3 {
    font-size: 1rem;
  }
  #seccion1 .categoriasPrincipales span p {
    font-size: 0.7rem;
  }
  #seccion2 {
    grid-area: seccion2;
  }
  #seccion2 h1 {
    text-align: center;
  }
  #seccion2 .contenedor {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
  }
  #seccion2 .contenedor .contenedor-ites .tr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 360px !important;
    gap: 1rem;
    text-align: center;
  }
  #seccion2 .contenedor .contenedor-ites .tr .ite {
    width: 60%;
  }
}
@media only screen and (min-width: 900px) {
  #barraDeNavegacion {
    grid-area: barraDeNavegacion;
  }
  #barraDeNavegacion .containr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #barraDeNavegacion .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
  }
  #barraDeNavegacion .nav #menuIcon {
    margin-left: 0.2rem;
    display: none;
  }
  #barraDeNavegacion .nav .logoembalado {
    width: 30%;
    margin-bottom: 10px;
    margin-right: 70rem;
  }
  #barraDeNavegacion .nav .logoembalado .logo {
    width: 200px;
  }
  #barraDeNavegacion .nav .boton {
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-top: -5.5rem;
    margin-left: 15rem;
  }
  #barraDeNavegacion .nav .boton input {
    width: 100%;
  }
  #barraDeNavegacion .nav .boton .iconobuscar {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border: solid 1px rgb(85, 38, 225);
    padding: 0 7px;
  }
  #barraDeNavegacion .nav .corazon {
    width: 10%;
    font-size: 2rem;
    text-align: center;
    margin-top: -7rem;
    margin-left: 38rem;
  }
  #barraDeNavegacion .nav .carritoIcon {
    width: 15%;
    margin-top: -7rem;
    margin-right: 1;
  }
  #barraDeNavegacion .nav .carritoIcon a {
    text-decoration: none;
    font-size: 1.1rem;
  }
  #barraDeNavegacion .nav .carritoIcon a i {
    font-size: 1.2rem;
    margin: 1rem;
  }
  #barraDeNavegacion .menunav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5px;
    margin-top: 5px;
  }
  #barraDeNavegacion .menunav .menuCategorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
  }
  #barraDeNavegacion .menunav .menuCategorias span {
    margin: 0 10px;
  }
  #barraDeNavegacion .menunav .menuCategorias span #list {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 2px;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul {
    background: white;
    position: fixed;
    width: 30%;
    height: 40vh;
    margin-left: 0.5rem;
    top: 9rem;
    display: none;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li a {
    color: rgb(0, 0, 0);
    padding: 0.1rem;
    font-size: 0.85rem;
    display: list-item;
    list-style-type: square;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li a:hover {
    width: 90%;
    background: rgb(164, 165, 174);
  }
  #barraDeNavegacion .menunav .menuCategorias:hover ul {
    display: block;
    transform: translate(0px, 0%);
  }
  #barraDeNavegacion .menunav .menuCategorias:hover ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem;
  }
  #barraDeNavegacion .menunav .menuCategorias:hover ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  #barraDeNavegacion .menunav .navar {
    display: flex;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  #barraDeNavegacion .menunav .navar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  #barraDeNavegacion .menunav .navar a:hover {
    color: rgb(85, 38, 225);
    border-bottom: solid 1.7px rgb(85, 38, 225);
  }
  #barraDeNavegacion .menunav .navar .active {
    color: rgb(85, 38, 225);
  }
  #barraDeNavegacion .menunav .accesoORegistro {
    margin-right: 4px;
  }
  #barraDeNavegacion .menunav .accesoORegistro a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  #barraDeNavegacion .menunav .accesoORegistro a i {
    color: rgb(85, 38, 225);
  }
  #listprod {
    position: fixed;
    border: 1px solid rgb(85, 38, 225);
    margin-top: 3rem;
    margin-left: 27rem;
    width: 16%;
    z-index: 8;
    display: none;
  }
  #listprod li a {
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 17px;
  }
  #listprod li a:hover {
    color: black;
  }
  #seccion2 {
    grid-area: seccion2;
    /* SECCION CONTENEDOR DE ITEMS */
  }
  #seccion2 .contenedor {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
  }
  #seccion2 .contenedor .contenedor-ites {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 10px;
    grid-row-gap: 30px;
    width: 100%;
    transition: 0.3s;
  }
  #seccion2 .contenedor .contenedor-ites .tr {
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
    border-radius: 70px;
    grid-gap: 1px;
    width: 100%;
    transition: 0.3s;
    margin-left: 10px;
  }
  #seccion2 .contenedor .contenedor-ites .ite {
    max-width: 300px;
    margin: 10px;
    background: rgba(243, 245, 246, 0.923);
    padding: 20px;
    transition: 0.3s;
  }
  #seccion2 .contenedor .contenedor-ites .ite .img-ite {
    width: 90%;
  }
  #seccion2 .contenedor .contenedor-ites .ite:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
  }
  #seccion2 .contenedor .contenedor-ites .ite .titulo-ite {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  #seccion2 .contenedor .contenedor-ites .ite .precio-ite {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
  #seccion2 .contenedor .contenedor-ites .ite .boton-ite {
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  #seccion3 {
    grid-area: seccion3;
  }
  #seccion3 .zonaAcercaDe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f6efef;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: url(#);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #seccion3 .zonaAcercaDe h1 {
    margin-top: 10px;
  }
  #seccion4 {
    grid-area: seccion4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  #seccion4 .zonaCategoria {
    width: 60%;
    margin: 1rem;
    align-items: center;
    justify-content: center;
  }
  #seccion4 .seccioncategoria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    width: 90%;
  }
  #seccion4 .seccioncategoria .linkproductos {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
  }
  #seccion4 .seccioncategoria .linkproductos img {
    width: 100px;
  }
  #seccion5 {
    grid-area: seccion5;
  }
  #seccion5 .footer {
    display: flex;
    flex-direction: column;
  }
  #seccion5 .footer .formulario {
    margin: 25px 0;
  }
  #seccion5 .footer .formulario label,
  #seccion5 .footer .formulario input {
    margin: 0.5rem 0;
  }
  #seccion5 .footer .interaccion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
  }
  #seccion5 .footer .interaccion .acercaDeEmbalados {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  #seccion5 .footer .interaccion .acercaDeEmbalados span {
    border-bottom: double 1px #fff;
  }
  #seccion5 .footer .interaccion .redes {
    font-size: 2rem;
  }
  #seccion5 .footer .interaccion .redes span {
    margin-bottom: 20px;
  }
  #seccion5 .footer .interaccion .redes a {
    margin: 10px;
  }
  #seccion5 .footer p {
    font-size: 1.5rem;
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1000px) {
  #barraDeNavegacion {
    grid-area: barraDeNavegacion;
  }
  #barraDeNavegacion .containr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #barraDeNavegacion .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
  }
  #barraDeNavegacion .nav #menuIcon {
    margin-left: 0.2rem;
    display: none;
  }
  #barraDeNavegacion .nav .logoembalado {
    width: 30%;
    margin-bottom: 10px;
    margin-right: 70rem;
  }
  #barraDeNavegacion .nav .logoembalado .logo {
    width: 200px;
  }
  #barraDeNavegacion .nav .boton {
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-top: -5.5rem;
    margin-left: 15rem;
  }
  #barraDeNavegacion .nav .boton input {
    width: 100%;
  }
  #barraDeNavegacion .nav .boton .iconobuscar {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border: solid 1px rgb(85, 38, 225);
    padding: 0 7px;
  }
  #barraDeNavegacion .nav .corazon {
    width: 10%;
    font-size: 2rem;
    text-align: center;
    margin-top: -5rem;
    margin-left: 42rem;
  }
  #barraDeNavegacion .nav .carritoIcon {
    width: 15%;
    margin-top: -5rem;
    margin-right: 1;
  }
  #barraDeNavegacion .nav .carritoIcon a {
    text-decoration: none;
    font-size: 1.1rem;
  }
  #barraDeNavegacion .nav .carritoIcon a i {
    font-size: 1.2rem;
    margin: 1rem;
  }
  #barraDeNavegacion .menunav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5px;
    margin-top: 5px;
  }
  #barraDeNavegacion .menunav .menuCategorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
  }
  #barraDeNavegacion .menunav .menuCategorias span {
    margin: 0 10px;
  }
  #barraDeNavegacion .menunav .menuCategorias span #list {
    text-align: center;
    font-size: 2.5rem;
    margin-left: 2px;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul {
    background: white;
    position: fixed;
    width: 30%;
    height: 78vh;
    margin-left: -6rem;
    top: 9rem;
    display: none;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li a {
    color: rgb(0, 0, 0);
    padding: 0.1rem;
    font-size: 0.85rem;
    display: list-item;
    list-style-type: square;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li a:hover {
    width: 90%;
    background: rgb(164, 165, 174);
  }
  #barraDeNavegacion .menunav .menuCategorias:hover ul {
    display: block;
    transform: translate(0px, 0%);
  }
  #barraDeNavegacion .menunav .menuCategorias:hover ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem;
  }
  #barraDeNavegacion .menunav .menuCategorias:hover ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  #barraDeNavegacion .menunav .navar {
    display: flex;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  #barraDeNavegacion .menunav .navar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  #barraDeNavegacion .menunav .navar a:hover {
    color: rgb(85, 38, 225);
    border-bottom: solid 1.7px rgb(85, 38, 225);
  }
  #barraDeNavegacion .menunav .navar .active {
    color: rgb(85, 38, 225);
  }
  #barraDeNavegacion .menunav .accesoORegistro {
    margin-right: 4px;
  }
  #barraDeNavegacion .menunav .accesoORegistro a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  #barraDeNavegacion .menunav .accesoORegistro a i {
    color: rgb(85, 38, 225);
  }
  .portada {
    width: 100%;
    height: 60vh;
    top: 10px;
  }
  .portada .imgportada {
    height: 60vh;
  }
  .portada .imgportada .port {
    width: 70%;
  }
  .portada .imgportada p {
    padding: 8rem 0;
    margin-left: 22rem;
    width: 70%;
  }
  .portada .imgportada p span {
    font-size: 2rem;
    color: rgb(0, 0, 0);
  }
  .portada .imgportada p .p {
    width: 50px;
    font-size: 1rem;
    color: white;
  }
  .portada .imgportada p button {
    margin-top: 40px;
    background: rgb(255, 231, 0);
  }
  .portada .imgportada p button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
  }
  .portada .imgportada p button a:hover {
    padding: 0.3rem 1rem;
    background: rgb(255, 77, 43);
    color: white;
  }
  #seccion1 {
    grid-area: seccion1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    width: 95%;
    margin-left: 1rem;
  }
  #seccion1 .categoriasPrincipales {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    border: solid 1px #c8cecc;
    border-radius: 10px;
    padding: 1rem 1rem 0 1rem;
  }
  #seccion1 .categoriasPrincipales i {
    font-size: 2rem;
    margin-right: 1rem;
    color: rgb(255, 77, 43);
  }
  #seccion1 .categoriasPrincipales span h3 {
    font-size: 1rem;
  }
  #seccion1 .categoriasPrincipales span p {
    font-size: 0.7rem;
  }
  #seccion4 {
    grid-area: seccion4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  #barraDeNavegacion {
    grid-area: barraDeNavegacion;
  }
  #barraDeNavegacion .containr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #barraDeNavegacion .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
  }
  #barraDeNavegacion .nav #menuIcon {
    margin-left: 0.2rem;
    display: none;
  }
  #barraDeNavegacion .nav .logoembalado {
    width: 30%;
    margin-bottom: 10px;
    margin-right: 70rem;
  }
  #barraDeNavegacion .nav .logoembalado .logo {
    width: 200px;
  }
  #barraDeNavegacion .nav .boton {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: -5.1rem;
    margin-left: 15rem;
  }
  #barraDeNavegacion .nav .boton input {
    width: 100%;
  }
  #barraDeNavegacion .nav .boton .iconobuscar {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border: solid 1px rgb(85, 38, 225);
    padding: 0 7px;
  }
  #barraDeNavegacion .nav .corazon {
    width: 10%;
    font-size: 2rem;
    text-align: center;
    margin-top: -5rem;
    margin-left: 55rem;
  }
  #barraDeNavegacion .nav .carritoIcon {
    width: 15%;
    margin-top: -5rem;
    margin-right: 1;
  }
  #barraDeNavegacion .nav .carritoIcon a {
    text-decoration: none;
    font-size: 1.1rem;
  }
  #barraDeNavegacion .nav .carritoIcon a i {
    font-size: 1.2rem;
    margin: 1rem;
  }
  #barraDeNavegacion .menunav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5px;
    margin-top: 5px;
  }
  #barraDeNavegacion .menunav .menuCategorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
  }
  #barraDeNavegacion .menunav .menuCategorias span {
    margin: 0 10px;
  }
  #barraDeNavegacion .menunav .menuCategorias span #list {
    text-align: center;
    font-size: 4rem;
    margin-left: 2px;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul {
    background: white;
    position: fixed;
    width: 30%;
    height: 60vh;
    margin-left: -6rem;
    top: 9rem;
    display: none;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li a {
    color: rgb(0, 0, 0);
    padding: 0.1rem;
    font-size: 0.85rem;
    display: list-item;
    list-style-type: square;
  }
  #barraDeNavegacion .menunav .menuCategorias li ul li a:hover {
    width: 90%;
    background: rgb(164, 165, 174);
  }
  #barraDeNavegacion .menunav .menuCategorias:hover ul {
    display: block;
    transform: translate(0px, 0%);
  }
  #barraDeNavegacion .menunav .menuCategorias:hover ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem;
  }
  #barraDeNavegacion .menunav .menuCategorias:hover ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  #barraDeNavegacion .menunav .navar {
    display: flex;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  #barraDeNavegacion .menunav .navar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  #barraDeNavegacion .menunav .navar a:hover {
    color: rgb(85, 38, 225);
    border-bottom: solid 1.7px rgb(85, 38, 225);
  }
  #barraDeNavegacion .menunav .navar .active {
    color: rgb(85, 38, 225);
  }
  #barraDeNavegacion .menunav .accesoORegistro {
    margin-right: 4px;
  }
  #barraDeNavegacion .menunav .accesoORegistro a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  #barraDeNavegacion .menunav .accesoORegistro a i {
    color: rgb(85, 38, 225);
  }
  .portada {
    width: 100%;
    height: 60vh;
    top: 10px;
  }
  .portada .imgportada {
    height: 60vh;
  }
  .portada .imgportada .port {
    width: 70%;
  }
  .portada .imgportada p {
    padding: 11rem 0;
    margin-left: 28rem;
    width: 70%;
  }
  .portada .imgportada p span {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
  }
  .portada .imgportada p .p {
    width: 50px;
    font-size: 1.3rem;
    color: white;
  }
  .portada .imgportada p button {
    margin-top: 40px;
    background: rgb(255, 231, 0);
  }
  .portada .imgportada p button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
  }
  .portada .imgportada p button a:hover {
    padding: 0.3rem 1rem;
    background: rgb(255, 77, 43);
    color: white;
  }
  #seccion1 {
    grid-area: seccion1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    width: 95%;
    margin-left: 2rem;
  }
}
@media (max-width: 1080px) {
  .containr {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 991px) {
  .nav {
    padding: 15px 20px;
  }
  section {
    padding: 3rem 0 1rem;
  }
}
@media (max-width: 860px) {
  .search-box input {
    padding: 15px;
  }
  .nav {
    padding: 10px 0;
  }
  #menuIcon {
    display: initial;
  }
  .navar {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: white;
    row-gap: 0.5rem;
    text-align: center;
    box-shadow: 4px 4px 20px rgba(15, 54, 55, 0.2);
    -webkit-clip-path: circle(0% at 0% 0%);
            clip-path: circle(0% at 0% 0%);
    transition: 0.6s;
  }
  .navar a {
    display: block;
    padding: 15px;
  }
  .navar a:hover {
    border-bottom: none;
    background: white;
    color: rgb(0, 0, 0);
  }
  .navar .active {
    border-bottom: none;
    background: white;
    color: rgb(0, 0, 0);
  }
  .navar.active {
    -webkit-clip-path: circle(144% at 0% 0%);
            clip-path: circle(144% at 0% 0%);
  }
  .blog-container.box {
    padding: 4px;
  }
}
.componentes-informaticos .cominf {
  display: none;
  position: fixed;
  background: #fff;
  margin-top: 0rem;
}

.componentes-informaticos:hover .cominf {
  display: block;
}/*# sourceMappingURL=style.css.map */